.navbarBody {
    height: 100px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    align-items: center;
}

.navbarBody img {
    height: 80px;
    border-radius: 5px;
}
.navbarLinks {
    font-size: 36px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
}
.navbarLinks p {
    color: white;
    font-family: 'Dancing Script', cursive;
    transition: all 0.10s linear;
}
.navbarLinks p:hover {
    color: #d2b3f0;
}